*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #182325;
    scroll-behavior: smooth;
}

/* Pre-Loader */
.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    transition: opacity 5s, visibility 0.75s;
}

.preloader_hidden{
    opacity: 0;
    visibility: hidden;
}

.preloader::after{
    content: '';
    width: 40px;
    height: 40px;
    border: 4px solid #182325;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loading 1s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

/* Nav Bar */

header{
    height: 10vh;

    @media(max-width:750px){
        display: flex;
        align-items: center;
    }

    color: #3d4141;
}

.main_nav{
    display: grid;
    grid-template-columns: 0.5fr 0.8fr 0.3fr;
    padding: 0.5% 2%;
    gap: 0%;
    align-items: center;
    margin-top: 2%;

    @media(max-width:750px){
        display: none;
    }
}

.main_nav ul{
    display: flex;
    justify-content: flex-end;
    gap: 4%;
    margin-right: 2%;
}

.main_nav ul a{
    color: #182325;
    font-weight: 500;
    transition: 0.7s ease-in-out;
}

.main_nav ul a:hover{
    color: #1F8498;
}

.main_nav ul{
    .active_nav{
        color: #1F8498;
    }
}

.globe_big{
    transition: 0.5s ease-in-out;
}

.globe_big:hover{
    color: #1F8498;
}

.logo{
    display: flex;
    align-items: center;
    position: absolute;
    margin: 0.2% 0 0 2%;

    h3{
        color: #182325;
        font-weight: 500;
    }
}

.buttons{
    margin-left: 2%;
    text-align: center;

    .buttons_btn{
        cursor: pointer;
        padding: 3% 5%;
        border-radius: 20px;
        transition: 0.5s ease-in-out;
    }
}

.btn_one{
    background-color: #eba85c;
    color: #182325;
}

.btn_one:hover{
    background-color: #182325;
    color: #ffffff;
}

.btn_two{
    background-color: #182325;
    color: #ffffff;

    @media(max-width:1142px){
        margin-top: 3%;
    }

    i{
        color: white;
        transition: 0.5s;
    }
}

.btn_two:hover{
    i{
        color: #182325;
    }
}

.btn_two:hover{
    background-color: #eba85c;
    color: #182325;
}

.globe{
    color: #dddbdb;
    font-size: 30px;
    transition: 0.5s ease-in-out;
}

.globe:hover{
    color: #1F8498;
}

.one_ham{
    margin-top: 5%;
}

.one_ham:hover{
    background-color: #ffffff;
    color: #182325;
}

.two_ham{
    background-color: #ffffff;
    color: #182325;

    i{
        color: #182325;
    }
}

.two_ham:hover{
    background-color: #eba85c;
    color: #182325;
}

/* Hamburger Menu */

/* Off Screen Menu */
.offScreenMenu{
    background-color:  #182325;
    height: 100vh;
    width: 50%;
    z-index: 20;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 15px;
    transition: .3s ease;

    @media(max-width:420px){
        width: 70%;
    }

    @media(max-width:300px){
        width: 100%;
    }
}
.offScreenMenu.active {
    right: 0;
}

.offScreenMenu{
    li{
        list-style: none;

        a{
            text-decoration: none;
            color: #ffffff;
            transition: 0.5s ease-in-out;
        }
    }
}

.offScreenMenu li a:hover{
    color: #1F8498;
}

.offScreenMenu li{
    .active_nav{
        color: #1F8498;
    }
}

 
/* Ham Menu */
.ham_menu {
    cursor: pointer;
    height: 40px;
    width: 35px;
    margin-left: 90%;
    position: absolute;
    display: none;

    @media(max-width:750px){
        display: flex;
        z-index: 20;
    }

    @media(max-width:520px){
        margin-left: 85%;
    }

    @media(max-width:420px){
        margin-left: 80%;
    }
}

.ham_menu span {
    height: 3.5px;
    width: 85%;
    background-color: #182325;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham_menu:hover span:nth-child(1){
    width: 60%;
}

.ham_menu:hover span:nth-child(3){
    width: 60%;
}

.ham_menu span:nth-child(1) {
    top: 25%;
}

.ham_menu span:nth-child(3) {
    top: 75%;
}

.ham_menu.active span {
    background-color: white;
}

.ham_menu.active span:nth-child(1) {
    top: 10%;
    width: 30px;
    left: 93%;
    position: fixed;
    transform: translate(-50%, -50%) rotate(45deg);

    @media(max-width:520px){
        top: 8%;
        left: 88%;
    }

    @media(max-width:420px){
        top: 7%;
        left: 85%;
    }
}

.ham_menu.active span:nth-child(2) {
    opacity: 0;
}

.ham_menu.active span:nth-child(3) {
    top: 10%;
    left: 93%;
    width: 30px;
    position: fixed;
    transform: translate(-50%, -50%) rotate(-45deg);
    
    @media(max-width:520px){
        top: 8%;
        left: 88%;
    }

    @media(max-width:420px){
        top: 7%;
        left: 85%;
    }
}

/* Hero Section */
#hero_section{
    width: 100%;
    height: 100vh;
    margin-bottom: 5%;
}

.hero_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 3% 2% 0 2%;
    gap: 2%;

    @media(max-width:590px){
        grid-template-columns: 1fr;
    }

}

.details{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 80vh;

    @media(max-width:590px){
        align-items: center;
        justify-content: start;
        height: 100%;
    }

    .big_par{
        font-weight: 500;
        font-size: 40px;

        @media(max-width:890px){
            font-size: 35px;
        }

        @media(max-width:760px){
            font-size: 30px;
        }
    }

    p{
        margin-top: 5%;
    }
}

.hero_button{
    width: 200px;
    cursor: pointer;
    padding: 2% 2%;
    border-radius: 500px;
    transition: 0.5s ease-in-out;
    margin-top: 5%;
    background-color: #182325;
    color: #ffffff;

    @media(max-width:900px){
        width: 150px;
        padding: 3% 3%;
    }
}

.hero_button:hover{
    background-color: #eba85c;
    color: #182325;
}

.image{
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img{
        width: 100%;
        border-radius: 20px;

    }
}

/* Advantages of the E-Passport */
.adv_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 2% 0 2%;
    gap: 2%;

    @media(max-width:700px){
        grid-template-columns: 1fr;
    }

    @media(max-width:590px){
        margin-top: 40%;
    }
}

.big_adv{
    width: 100%;
    height: 50vh;
    background-color: #dddbdb;
    border-radius: 20px;

    @media(max-width:405px){
        height: 60vh;
    }
}


.big_par_adv{
    font-weight: 500;
    font-size: 40px;
    margin: 5%;

    @media(max-width:890px){
        font-size: 35px;
    }

    @media(max-width:760px){
        font-size: 30px;
    }
}

.numbers{
    display: flex;
    gap: 10%;
}

.million{
    margin: 5%;
}

.perc_container{
    display: flex;
}

.percentage{
    margin: 5%;
}

#counter_thousand{
    font-size: 40px;
    color: #1F8498;
    font-weight: 500;
}

.numbers_two{
    font-size: 40px;
    color: #1F8498;
    font-weight: 500;
}

.two_adv{
    display: grid;
    gap: 5%;
}

.accessable{
    width: 100%;
    height: 23vh;
    background-color: #dddbdb;
    border-radius: 20px;
    display: flex;
    align-items: center;

    p{
        display: flex;
        align-items: center;
        font-weight: 500;
    }
}

.easy_use{
    width: 100%;
    height: 23vh;
    background-color: #dddbdb;
    border-radius: 20px;
    display: flex;
    align-items: center;

    p{
        display: flex;
        align-items: center;
        font-weight: 600;
    }
}

/* How the E-Passport works */
.head{
    padding: 8% 2% 0 2%;

    @media(max-width:550px){
        margin-top: 10%;
    }

    @media(max-width:300px){
        margin-top: 15%;
    }

    p{
        font-size: 30px;
        font-weight: 500;

        @media(max-width:570px){
            font-size: 20px;
        }
    }
}

.card_container_works{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3% 2% 0 2%;
    gap: 1.5%;

    @media(max-width:800px){
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:530px){
        grid-template-columns: 1fr;
    }
}

.card{
    background-color: #EEF9FB;
    border-radius: 20px;
}

.card_content{
    margin: 5%;
}

.icon_container{
    width: 60px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-top: 10%;
}

.card_number{
    position: absolute;
    color: #ffffff;
    background-color: #182325;
    padding: 5px 15px 5px 15px;
    margin-left: -4%;
    margin-top: -5%;
    border-radius: 1000px;

    @media(max-width:830px){
        margin-left: -7%;
        margin-top: -10%;
    }
}

.card_head{
    font-weight: 500;
    margin-top: 4%;
    font-size: 20px;
}

.card_details{
    margin-top: 4%;
}

.card_span{
    @media(max-width:800px){
        width: 200%;
    }

    @media(max-width:530px){
        width: 100%;
    }
}

/* How to take good photos */
.good_photos_{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.testimonials-container{
	position: relative;
}
.testimonials-container .testimonial-card{
    display: flex;
    justify-content: center;
}

.owl-nav{
	position: absolute;
	right: 20px;
	bottom: -50px;
}
.owl-nav button{
	border-radius: 50%;
}
.owl-nav .owl-prev i,
.owl-nav .owl-next i{
	padding: 10px;
	border-radius: 50%;
	font-size: 18px;
	background-color: #182325;
	color: #ffffff;
	cursor: pointer;
	transition: 0.4s;
}
.owl-nav .owl-prev i:hover,
.owl-nav .owl-next i:hover{
	background-color: #eba85c;
	color: #182325;
    border-radius: 50%;
}

.owl-dots{
	margin-top: 30px;
}


.next_prev{
    display: flex;
    gap: 50%;
    margin-right: 5%;

    @media(max-width:1190px){
        margin-right: 6%;
    }

    @media(max-width:960px){
        margin-right: 7%;
    }

    @media(max-width:860px){
        margin-right: 8%;
    }

    @media(max-width:700px){
        margin-right: 9%;
    }

    @media(max-width:650px){
        margin-right: 10%;
    }

    @media(max-width:650px){
        margin-right: 11%;
    }

    @media(max-width:500px){
        margin-right: 12%;
    }

    @media(max-width:480px){
        margin-right: 13%;
    }

    @media(max-width:450px){
        margin-right: 14%;
    }

    @media(max-width:430px){
        margin-right: 15%;
    }

    @media(max-width:410px){
        margin-right: 16%;
    }

    @media(max-width:400px){
        margin-right: 12%;
    }

    @media(max-width:360px){
        margin-right: 13%;
    }

    @media(max-width:330px){
        margin-right: 14%;
    }

    @media(max-width:320px){
        margin-right: 15%;
    }

    @media(max-width:306px){
        margin-right: 16%;
    }

    @media(max-width:298px){
        margin-right: 17%;
    }
}

.arrows_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30%;
    background-color: #dddbdb;
    border-radius: 500px;
    transition: 0.5s ease-in-out;
}

.arrows_container:hover{
    background-color: #182325;
}

.arrows_container:hover{
    .arrows{
        color: #dddbdb;
    }
}

.arrows{
    font-size: 20px;
    color: #182325;
    border-radius: 5000px;
    transition: 0.5s ease-in-out;

        @media(max-width:400px){
            font-size: 15px;
        }
}

/* .big_card_container_passport_photos{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.big_card_container_passport_photos::-webkit-scrollbar{
    display: none;
} */


.big_none{

    @media(max-width:1100px){
        margin-left: 2%;
    }

    @media(max-width:830px){
        margin-left: 4%;
    }

    @media(max-width:590px){
        margin-left: 6%;
    }

    @media(max-width:475px){
        margin-left: 8%;
    }

    @media(max-width:325px){
        margin-left: 9%;
    }
}

.card_container_photos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5%;
    padding: 3% 2% 0 2%;

    /* @media(max-width:800px){
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:530px){
        grid-template-columns: 1fr;
    } */
}

.card_photos{
    background-color: #1F8498;
    border-radius: 20px;
    margin-top: 4%;
    transition: 0.5s ease-in-out;
    width: 400px;

    @media(max-width:450px){
        width: 300px;
    }

    @media(max-width:315px){
        width: 250px;
    }
}

.card_photos.active {
    transform: translateX(0);
  }
  
  .card_photos.prev {
    transform: translateX(-100%);
  }
  
  .card_photos.next {
    transform: translateX(100%);
  }

.card_photos:hover{
    background-color: #182325;
}

.card_photos_content{
    margin: 8% 8% 25% 8%;

    @media(max-width:750px){
        margin-bottom: 10%;
    }
}

.photos_image_container{
    margin: 0 15% 2% 15%;

    @media(max-width:600px){
        margin: 0 10%;
    }
}

.photos_image{
    width: 100%;

    img{
        width: 100%;
        border-radius: 10px;
    }
}

.photos_details_container{
    margin-top: 15%;

    @media(max-width:750px){
        margin-top: 10%;
    }

    @media(max-width:530px){
        margin-top: 6%;
    }

    p{
        color: #ffffff;
    }
}

.photos_head{
    font-weight: 500;

    @media(max-width:530px){
        font-size: 20px;
    }
}

.photos_details{
    font-size: 14px;
    margin: 5% 0 5% 0;

    @media(max-width:750px){
        fontdocze: 10px;
    }

    @media(max-width:530px){
        font-size: 14px;
    }
}

/* Passport refference */
.head_ref{
    padding: 8% 2% 0 2%;

    @media(max-width:530px){
        margin-top: 10%;
    }

    p{
        font-size: 30px;
        font-weight: 500;

        @media(max-width:630px){
            font-size: 20px;
        }

        /* @media(max-width:430px){
            font-size: 15px;
        } */
    }
}

.ref_button{
    width: 150px;
    cursor: pointer;
    padding: 10%;
    border-radius: 500px;
    transition: 0.5s ease-in-out;
    background-color: #182325;
    color: #ffffff;

    @media(max-width:900px){
        width: 140px;
        padding: 3% 3%;
    }
}

.ref_button:hover{
    background-color: #eba85c;
    color: #182325;
}

.ref_card_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5%;
    padding: 3% 2% 0 2%;

    @media(max-width:800px){
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:530px){
        grid-template-columns: 1fr;
    }
}

.ref_card{
    background-color: #dddbdb;
    border-radius: 20px;
    margin-top: 4%;
    transition: 0.5s ease-in-out;
}

.ref_card:hover{
    background-color: #182325;
}

.ref_card:hover{
    p{
        color: #dddbdb;
    }
}

.ref_card_content{
    margin: 8% 8% 8% 8%;

    @media(max-width:750px){
        margin-bottom: 10%;
    }
}

.ref_image{
    width: 100%;

    img{
        width: 100%;
        border-radius: 10px;
    }
}

.ref_card_container_details_container{
    margin-top: 10%;

    @media(max-width:750px){
        margin-top: 10%;
    }

    @media(max-width:530px){
        margin-top: 6%;
    }

    p{
        color: #182325;
    }
}

.ref_head{
    font-weight: 500;

    @media(max-width:750px){
        font-size: 20px;
    }

    @media(max-width:750px){
        font-size: 17px;
    }
}

.ref_details{
    font-size: 14px;
    margin: 5% 0 5% 0;

    @media(max-width:750px){
        font-size: 12px;
    }

    @media(max-width:530px){
        font-size: 14px;
    }
}

/* Popular Docs */
.head_docs{
    padding: 8% 2% 0 2%;

    @media(max-width:550px){
        margin-top: 10%;
    }

    @media(max-width:300px){
        margin-top: 15%;
    }

    p{
        font-size: 30px;
        font-weight: 500;

        @media(max-width:570px){
            font-size: 20px;
        }

        @media(max-width:440px){
            font-size: 17px;
        }
    }
}

.docs{
    @media(max-width:350px){
        display: block;
    }
}

.search_bar{
    display: flex;
    align-items: center;
    padding: 1% 2%;
    border-radius: 10px;
    background-color: #dddbdb;

    @media(max-width:350px){
        margin-top: 2%;
        padding: 2%;
        width: 190px;
    }
}

#search_input{
    background-color: transparent;
    outline: transparent;
}

#search_icon{
    font-size: 15px;

        @media(max-width:390px){
            font-size: 20px;
        }
}

#search_icon:hover{
    color: #1F8498;
}

.doc_card_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5%;
    padding: 3% 2% 0 2%;

    @media(max-width:830px){
        grid-template-columns: 1fr 1fr;
    }
    
    @media(max-width:530px){
        grid-template-columns: 1fr;
    }
}

.all_docs_head{
    padding-top: 3%;
}

.margin_top{
    margin-top: 8%;

    @media(max-width:530px){
        margin-top: 5%;
    }
}

.all_docs_footer{
    margin-top: 30%;
}

.all_docs_cards{
    background-color: #dddbdb;
    height: 100%;
    padding: 8% 0 0 0;
}

.doc_card{
    border-radius: 20px;
    margin-top: 4%;
    transition: 0.5s ease-in-out;
}

.doc_card_content{

    @media(max-width:750px){
        margin-bottom: 10%;
    }
}

.doc_image{
    width: 100%;
    text-align: center;

    img{
        width: 50%;
        border-radius: 10px;
    }
}

.doc_details_container{
    margin-top: 1%;
    text-align: center;

    @media(max-width:750px){
        margin-top: 10%;
    }

    @media(max-width:530px){
        margin-top: 6%;
    }

    p{
        color: #182325;
    }
}

.doc_head{
    font-weight: 500;

    @media(max-width:530px){
        font-size: 20px;
    }
}

.all_docs_container{
    display: flex;
    justify-content: center;
}

.all_docs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dddbdb;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    @media(max-width:530px){
        width: 70%;
        height: 250px;
    }

    @media(max-width:320px){
        width: 80%;
    }

    @media(max-width:300px){
        height: 200px;
    }
}

.all_docs:hover{
    background-color: #182325;
}

.all_docs:hover{
    .all{
        color: #dddbdb;
    }

    p{
        color: #dddbdb;
    }
}

.all{
    font-size: 40px;
}

/* Reviews */
.reviews_cards_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5%;
    padding: 3% 2% 0 2%;

    @media(max-width:800px){
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:530px){
        grid-template-columns: 1fr;
    }
}

.reviews_container{
    background-color: #dddbdb;
    padding: 8% 6%;
    border-radius: 20px;
}

.reviews_rating{
    color: #eba85c;

    i{
        color: #eba85c;
    }
}

.review_card_head{
    display: flex;
    align-items: center;
}

.prof_pic{
    width: 60px;

    img{
        width: 100%;
        border-radius: 100%;
    }
}

.name{
    margin: 0 0 0 1%;
}

.name_head{
    font-weight: 500;
}

.rating{
    color: #1F8498;
    font-weight: 500;

    i{
        color: #1F8498;
    }
}

.review_card_body{
    margin-top: 15%;
}

.fourth{
    display: none;

    @media(max-width:800px){
        display: block;
    }
}

/* Download of the Mobile App */
#mobile_app{
    margin-top: 5%;

    @media(max-width:530px){
        margin-top: 20%;
    }
}

.mobile_app_container{
    margin: 0 2%;
    background-color: #1F8498;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 2%;

    @media(max-width:800px){
        grid-template-columns: 1fr;
    }
}

.mobile_app_details{
    margin: 20% 0 30% 15%;

    @media(max-width:800px){
        margin: 5%;
    }
}

.head_download{
    font-size: 50px;
    color: #ffffff;
}

.deatils_download{
    color: #ffffff;
    margin-top: 5%;
}

.button_download{
    margin-top: 5%;
    background-color: #ffffff;
    color: #1F8498;
    font-weight: 500;
    cursor: pointer;
    padding: 3% 5%;
    border-radius: 20px;
    transition: 0.5s ease-in-out;

    i{
        color: #1F8498;
    }
}

.button_download:hover{
    background-color: #182325;
    color: #ffffff;
}

.button_download:hover{
    i{
        color: #ffffff;
    }
}

.mobile_app_image{
    width: 100%;
    display: flex;
    justify-content: flex-end;

    img{
        width: 100%;

        @media(max-width:800px){
            display: none;
        }
    }
}

/* Footer */
footer{
    margin-top: 5%;
    padding-bottom: 3%;
    background-color: #182325;

    @media(max-width:800px){
        margin-top: 15%;
    }

    @media(max-width:530px){
        margin-top: 20%;
    }
}


.footer_container{
    margin: 0 2% 0 2%;
    padding-top: 3%;
}

.container_footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    @media(max-width:920px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width:530px){
        grid-template-columns: 1fr;
    }
}

.footer_logo{
    display: flex;
    align-items: center;

    h3{
        color: #ffffff;
        font-weight: 500;
    }
}

.navigation_links{
    display: flex;
    flex-direction: column;

    @media(max-width:920px){
        justify-content: flex-end;
    }

    @media(max-width:530px){
        margin-top: 3%;
    }

    a{
        color: #ffffff;
    }
}

.faded{
    color: #838383;
}

.social{

    @media(max-width:530px){
        margin-top: 3%;
    }
}

.social_platforms{

    @media(max-width:530px){
        margin-top: 3%;
    }

    i{
        color: #ffffff;
        font-size: 20px;
        background-color: #3d4141;
        border-radius: 200px;
        padding: 5%;
    }
}

.get_in_touch{
    margin-top: 10%;
}

.get{
    color: #ffffff;

    i{
        color: #ffffff;
    }
}

.QR_code{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media(max-width:530px){
        align-items: flex-start;
    }
}

.QR_code_pic{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media(max-width:530px){
        justify-content: flex-start;
    }

    img{
        width: 100px;
    }
}

.cookies{
    display: flex;
    justify-content: space-between;
    gap: 60%;

    @media(max-width:340px){
        gap: 20%;
    }

    @media(max-width:304px){
        gap: 10%;
    }

    p{
        color: #ffffff;
    }
}

.policy{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;

    @media(max-width:920px){
        margin-top: 6%;
    }

    @media(max-width:530px){
        margin-top: 15%;
    }
}

.small{
    font-size: 13px;
}

.developer{
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.developer_logo{
    margin-left: 1%;
}

.logo_image{
    width: 100px;

    @media(max-width:530px){
        width: 80px;
    }
}

/* POPULAR DOCS */
.pop_docs{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dddbdb;
    width: 100%;
    height: 90%;
    border-radius: 20px;

    @media(max-width:590px){
        height: 120%;
    }

    @media(max-width:350px){
        background-color: transparent;
        border-radius: 0;
    }

    img{
        width: 200px;

        @media(max-width:480px){
            width: 150px;
        }

        @media(max-width:350px){
            width: 100px;
        }

    }
}

/* Photo Requirements */
.photo_requirements_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 5% 2% 4% 2%;
    gap: 2%;

    @media(max-width:590px){
        margin-top: 20%;
        grid-template-columns: 1fr;
    }
}

.photo_requirements_image{
    width: 100%;

    img{
        width: 100%;
    }
}

.photo_req_big_par{
    color: #1F8498;
    font-weight: 500;
    font-size: 40px;

    span{
        color: #182325;
    }
    
    @media(max-width:890px){
        font-size: 35px;
    }
    
    @media(max-width:760px){
        font-size: 30px;
    }
    
    
    p{
    margin-top: 5%;
    }
}

.dropdowns{
    margin-top: 5%;
}

.big_dropdown_container{
    cursor: pointer;
    border-radius: 10px;
    background-color: #dddbdb;
    padding: 3% 0;
    transition: 5s ease-in-out;
    margin-top: 3%;
}

.dropdown_container{
    margin: 0% 4%;
}

.dropdown_content{
    margin: 0 4%;
}

.dropdown_content{
    display: none;
}

.dropdown_content .open{
    display: block;
}


.qsn i {
    transition: transform 0.5s ease-in-out;
  }

.qsn{
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.dropdown_content{
    display: none;
    transition: 5s ease-in-out;
}

.big_dropdown_container:hover .dropdown_content{
    display: block;
}

.big_dropdown_container:hover .qsn i{
    transform: rotate(180deg);
}

.more_details{
    margin: 0;
    padding: 10px;
    display: none;
}

.more_details.details_activated{
    display: block;
}

/* Other Documents */
.big_other_docs_cards_container{
    margin: 3% 2% 0 2%;
}

.big_big_other_docs_cards{
    display: flex;
    width: 100%;
    overflow-x: scroll;
}

.big_big_other_docs_cards::-webkit-scrollbar{
    display: none;
}

.other_docs_two{
    margin-left: 5%;

    @media(max-width:1210px){
        margin-left: 7%;
    }

    @media(max-width:990px){
        margin-left: 9%;
    }

    @media(max-width:760px){
        margin-left: 11%;
    }

    @media(max-width:600px){
        margin-left: 13%;
    }

    @media(max-width:550px){
        margin-left: 15%;
    }

    @media(max-width:480px){
        margin-left: 17%;
    }

    @media(max-width:410px){
        margin-left: 19%;
    }

    @media(max-width:350px){
        margin-left: 21%;
    }

    @media(max-width:315px){
        margin-left: 23%;
    }
}

.other_docs_head{
    padding: 1% 2% 0 2%;

    @media(max-width:550px){
        margin-top: 10%;
    }

    @media(max-width:300px){
        margin-top: 15%;
    }

    p{
        font-size: 30px;
        font-weight: 500;

        @media(max-width:570px){
            font-size: 20px;
        }
    }
}

.other_docs_cards_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5%;

    /* @media(max-width:920px){
        grid-template-columns: repeat(2, 1fr);
    }

    @media(max-width:520px){
        grid-template-columns: 1fr;
    } */
}

.other_docs_card_body{
    background-color: #dddbdb;
    border-radius: 10px;
    width: 300px;
}

.card_body_container{
    margin-top: 10%;
    margin-bottom: 10%;
}

.others_image{
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        width: 150px;
    }
}

.others_details{
    text-align: center;
}

.australia{
    font-weight: 500;
    margin-top: 2%;
}

/* STEPS */
.steps_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2% 10%;
    gap: 1.5%;

    @media(max-width:1238px){
        margin-top: 5%;
    }

    @media(max-width:750px){
        margin-top: 10%;
    }
}

.steps{
    width: 100%;
}

.active_line{
    width: 100%;
    height: 4px;
    background-color: #1F8498;
    border-radius: 20px;
}

.step_done{
    width: 100%;
    height: 4px;
    background-color: #1F8498;
    border-radius: 20px;
}

.line{
    width: 100%;
    height: 4px;
    background-color: #dddbdb;
    border-radius: 20px;
}

.step_number{
    text-align: center;
}

.step_head{
    font-weight: 500;
    margin-top: 4%;

    @media(max-width:390px){
        font-size: 12px;
    }
}

.step_detail{

    @media(max-width:615px){
        font-size: 15px;
    }

    @media(max-width:580px){
        font-size: 13px;
    }

    @media(max-width:500px){
        font-size: 11px;
    }

    @media(max-width:450px){
        display: none;
    }
}

/* Photo & Country Selection */
.photo_country_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 4% 10% 2% 10%;

    @media(max-width:550px){
        grid-template-columns: 1fr;
    }
}

.photo_container_{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media(max-width:550px){
        margin-bottom: 2%;
    }

    img{
        width: 100%;

        @media(max-width:550px){
            width: 200px;
        }
    }
}

.step_detail_head{
    display: none;
    font-weight: 500;

    @media(max-width:450px){
        display: block;
    }
}

.country_selection{
    background-color: #dddbdb;
    border-radius: 20px;
}

.country_content_container{
    margin: 5%;

    @media(max-width:615px){
        margin: 10%;   
    }
}

.country_select_head{
    font-weight: 500;
    font-size: 20px;

    @media(max-width:665px){
        font-size: 18px;
    }

    @media(max-width:615px){
        font-size: 15px;
    }
}

.country_form{
    margin-top: 4%;
    display: flex;
    flex-direction: column;
}

label{
    color: #838383;

    @media(max-width:615px){
        font-size: 15px;
    }
}

.countries_input{
    padding: 2%;
    border-radius: 10px;
    outline: transparent;

    @media(max-width:615px){
        border-radius: 5px; 
        font-size: 13px;  
    }
}

.doc_type{
    margin-top: 4%;
}

.input_doc_type{
    padding: 2%;
    border-radius: 10px;
    outline: transparent;

    @media(max-width:615px){
        border-radius: 5px; 
        font-size: 13px;  
    }
}

.next_step_button{
    cursor: pointer;
    margin-top: 4%;
    padding: 2%;
    border-radius: 200px;
    background-color: #182325;
    color: #ffffff;
    transition: 0.5s ease-in-out;
}

.next_step_button:hover{
    background-color: #182325a9;
}


/* STEP TWO */
.uploaded_photo_container{
    width: 100%;
    display: flex;
    justify-content: center;

    img{
        width: 100%;
        border-radius: 20px;
    }
}

.compatable{
    i{
        color: #1F8498;
    }
}

.step_2_submit{
    width: 100%;
}

.step_two_image{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    @media(max-width:550px){
        margin-bottom: 2%;
    }

    img{
        width: 100%;

        @media(max-width:550px){
            width: 200px;
        }
    }
}

/* STEP THREE */
.photo_edit_container{
    margin-top: 5%;
}

.photo_edit_grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 10%;
    gap: 1.5%;

    @media(max-width:1060px){
        grid-template-columns: 1fr 1fr;
    }

    @media(max-width:560px){
        grid-template-columns: 1fr;
    }
}

.doc_info{
    height: 80%;
    background-color: #dddbdb;
    border-radius: 20px;

    @media(max-width:1100px){
        height: 70%;
    }

    @media(max-width:560px){
        height: 100%;
    }
}

input[type="range"] {
    accent-color: #182325;
    }

.range_range{

    @media(max-width:1060px){
        height: 100%;
        width: 200%;
    }

    @media(max-width:560px){
        width: 100%;
    }
}

.doc_info_container{
    margin: 8%;
}

.doc_info_details{
    margin-top: 7%;

    p{
        font-size: 15px;
    }
}

.info_faded{
    color: #838383;
}

.size{
    font-weight: 500;
}

.info_country_type{
    margin-top: 7%;
}

.photo_edit_image_container{
    width: 100%;

    img{
        width: 100%;
        border-radius: 20px;
        border: 1px solid #dddbdb;
    }
}

.doc_info_editing{
    margin: 0 8% 8% 8%;
    padding-top: 8%;
}

.ranges[type="range"]{
    background-color: #182325;
}

.range_bars{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
}

.range{
    margin-top: 4%;
}

.ranges:active{
    background-color: #182325;
}

.buttons_step_3{
    display: flex;
    justify-content: space-between;

    @media(max-width:390px){
        flex-direction: column;
        align-items: center;
    }
}

.step_3_btn{
    margin-top: 10%;
    padding-top: 8%;
    padding-bottom: 8%;

    @media(max-width:1060px){
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

.step_3_btns{
    cursor: pointer;
    padding: 3% 5%;
    border-radius: 500px;
    background-color: #1f84981f;
    color: #1F8498;
    font-weight: 500;
    transition: 0.5s ease-in-out;
    margin-top: 3%;
    width: 150px;

    @media(max-width:1055px){
        width: 100px;
    }

    @media(max-width:560px){
        width: 200px;
    }

    @media(max-width:515px){
        width: 150px;
    }
}

.step_3_btns:hover{
    background-color: #1F8498;
    color: #ffffff;
}

.step_3_footer{
    margin-top: 5%;
    padding-bottom: 3%;
    background-color: #182325;

    @media(max-width:800px){
        margin-top: 15%;
    }

    @media(max-width:530px){
        margin-top: 20%;
    }
}

.adjust{
    text-align: center;
    margin-bottom: 2%;
}

/* STEP FOUR */


.step_4_photo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    @media(max-width:550px){
        margin-bottom: 2%;
    }

    img{
        width: 80%;
        border-radius: 20px;
        border: 1px solid #1F8498;
    }
}

.doc_info_container_step_4{
    margin: 0 7%;
}

.doc_info_step_4{
    height: 40%;
    background-color: #dddbdb;
    border-radius: 20px;
    padding: 7% 0;

    @media(max-width:1060px){
        height: 60%;
        width: 200%;
        margin-top: 4%;
    }

    @media(max-width:560px){
        width: 100%;
    }
}


.doc_info_details_step_4{
    margin-top: 7%;

    p{
        font-size: 15px;
    }
}

.complete{
    text-align: center;
}

.step_4_top{
    @media(max-width:560px){
        margin-top: 15%;
    }
}

.none{

    @media(max-width:530px){
        display: none;
    }
}